@page "/"

@code{        

    protected override void OnInitialized()
    {
        appState.UserName = AppState.UserName;

        foreach (var pair in AppState.Rooms)
        {
            appState.Rooms.Add(pair.Key, pair.Value);
        }
    }

    private void FormSubmit()
    {
        AppState.UserName = appState.UserName;
        appState.Rooms = new Dictionary<string, int>();

        string[] splitArray = appState.RoomsComaSeparated.Split(",");

        foreach (string S in splitArray)
        {
            AppState.Rooms.Add(S, 0);
        }

        Console.WriteLine("Joining rooms .... " + string.Join(',', AppState.Rooms));

        AppState.RoomsComaSeparated = appState.RoomsComaSeparated;

        formText = "Form Submitted succesfully";

        AppState.AppStateUpdated?.Invoke();

    }


    AppState appState = new AppState();
    public string formText = "";
}

<div class="container bg-dark text-white ">

    <h1 class="text-center text-uppercase display-1 ">Registration</h1>
    <br />

    <p class="text-center font-italic text-uppercase">Enter a username and room you'd like to join'</p>
    <br />

        <EditForm Model="@AppState" OnSubmit="FormSubmit">

        <div class="row justify-content-md-center">

            <div class="col col-lg-6 ">
                <p class="text-center"> Name </p>
                <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" required>
            </div>

            <div class="col col-lg-6 ">
                <p class="text-center"> Surname </p>
                <input type="text" class="form-control" placeholder="Surname" aria-label="Surname" aria-describedby="basic-addon1">
            </div>
        </div>



        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <label class="text-center"> Username </label>

                @*@<InputText @bind-Value="@appState.UserName" />*@
                <input type="text" @bind="@appState.UserName" class="form-control"  placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
        </div>

        <br />


        <div class="row justify-content-md-center ">
            <div class="col-md-auto">
                <label class="text-center"> Rooms </label>
                @*<InputText @bind-Value="@appState.RoomsComaSeparated" />*@
                <input type="text" @bind="@appState.RoomsComaSeparated" class="form-control" id="validationTextarea" placeholder="room1" aria-label="room" aria-describedby="basic-addon1" required>
            </div>
        </div>

        <br />

        <div class="row justify-content-md-center">

            <div class="col-md-auto ">
                <button class="btn btn-danger " type="submit"> Submit Form</button>

                <p> @formText</p>
            </div>
        </div>
        </EditForm>

</div>
